@use '../library' as *;
@use '../design-tokens' as *;

.W8D-TasksDashboard {
    min-height: 15rem;
    min-width: 20rem;
    max-width: 50vw;
    margin: 0 auto;
    overflow-y: auto;
    background: get-color('absolute-white');

    &ErrorMessageWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: get-color('absolute-white');
    }

    &ErrorMessage_title {
        line-height: get-spacing('xl');
        font-weight: 800;
        color: get-color('grey-500');
    }

    &ErrorMessage_subtitle {
        padding: get-spacing('lg') 0;
        font-size: get-font-size('md-lg');
        line-height: get-spacing('lg');
        color: get-color('grey-500');
    }

    &SubtitleMessage_emoticon {
        margin-top: get-spacing('lg');
        vertical-align: bottom;
        font-size: get-font-size('2xl');
        display: inline-block;
    }
}

.W8D-TasksDashboard nav {
    padding: get-spacing('xl') get-spacing('lg-xl');
    background: get-color('steel-200');
    text-align: center;
}

.W8D-TasksDashboardTitle {
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    @include typography('heading-2');
    color: get-color('grey-700');
    white-space: nowrap;
    cursor: pointer;
}

.W8D-TasksDashboardErrorIcon_sadFace {
    display: block;
    font-size: 3.75rem;
    font-weight: 400;
    line-height: 5rem;
    color: get-color('steel-400');
}

.W8D-TasksDashboardErrorIcon_sadFace:before {
    content: '\2639';
}

@media screen and (min-width: 40em) {
    .W8D-TasksDashboard nav {
        text-align: left;
    }
}
