@use '../library' as *;
@use '../design-tokens' as *;

/* lock Storybook's root wrapper to the exact window size */
#storybook-root {
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    height: 100svh;
    margin: 0;
    overflow-y: auto; /* force Storybook's iframe to not allow outer scrolling */
    outline: none;
    padding: 0;

    background-color: get-color('steel-400');
    
    color: get-color('grey-700');
    @include typography('body');
    -webkit-font-smoothing: antialiased;
}

h1,
p,
label {
    margin: 0;
    padding: 0;
    overflow: visible;

    border: 0;
    vertical-align: middle;
    
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    border: none;
    border-radius: get-radius('none');
    box-sizing: border-box;
    outline: none;
    padding: get-spacing('md') 0;

    color: get-color('grey-700');
    @include typography('list');
}
